.p1{
    font-family:serif;
    color: black; /* Lighter grey color for the paragraph text */
    font-size: 28px; /* Sets the font size for the paragraph */
    max-width: 800px; /* Limits the width of paragraphs */
    margin: auto; /* Centers the paragraphs */
    text-align: justify; 

}
.p2{
    font-family:serif;
    color: black; /* Lighter grey color for the paragraph text */
    font-size: 28px; /* Sets the font size for the paragraph */
    max-width: 800px; /* Limits the width of paragraphs */
    margin: auto; /* Centers the paragraphs */
    text-align: justify; 

}
.p3{
    font-family:serif;
    color: black; /* Lighter grey color for the paragraph text */
    font-size: 28px; /* Sets the font size for the paragraph */
    max-width: 800px; /* Limits the width of paragraphs */
    margin: auto; /* Centers the paragraphs */
    text-align: justify; 

}
.p4{
    font-family:serif;
    color: black; /* Lighter grey color for the paragraph text */
    font-size: 28px; /* Sets the font size for the paragraph */
    max-width: 800px; /* Limits the width of paragraphs */
    margin: auto; /* Centers the paragraphs */
    text-align: justify; 

}
.p5{
    font-family:serif;
    color: black; /* Lighter grey color for the paragraph text */
    font-size: 28px; /* Sets the font size for the paragraph */
    max-width: 800px; /* Limits the width of paragraphs */
    margin: auto; /* Centers the paragraphs */
    text-align: justify; 

}
.firsthead{
    color: #333; /* Dark grey color for the heading */
    font-size: 24px;
    text-align: center;
    font-size: 36px; 
}
.secondhead{
    color: #333; /* Dark grey color for the heading */
    font-size: 24px;
    text-align: center;
    font-size: 36px; 
}
.thirdhead{
    color: #333; /* Dark grey color for the heading */
    font-size: 24px;
    text-align: center;
    font-size: 36px; 
}
.fourthhead{
    color: #333; /* Dark grey color for the heading */
    font-size: 24px;
    text-align: center;
    font-size: 36px; 
}
.full{
    background-color: lightcyan;
}
.fullAbout{
    margin-bottom: 20px;
    background: lightcyan;
}
