/* Admin.css */

.admin-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  bottom: 100px;
}

.admin-header {
  width: 100%;
  background-color: #0275d8;
  color: white;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.admin-title {
  font-size: 24px;
  font-weight: 600;
}

.logout-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c9302c;
}

.admin-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.form-section,
.product-count-section,
.payment-section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.form-input,
.form-select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
}

.submit-button:hover {
  background-color: #4cae4c;
}

.product-count-section ul,
.payment-list {
  list-style-type: none;
  padding: 0;
}

.product-count-item,
.payment-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-item:last-child,
.product-count-item:last-child {
  border-bottom: none;
}

.payment-item h3 {
  margin: 0;
  font-size: 18px;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c9302c;
}

@media (min-width: 768px) {
  .admin-main {
    flex-direction: row;
    gap: 20px;
  }

  .form-section,
  .product-count-section,
  .payment-section {
    flex: 1;
    margin: 10px;
  }
}
