footer{
    
    border: 340px;
    background-color: #090a0a;
    text-align: center;
    padding-bottom: 300px;
    border-radius: 5px;
}
footer h1{
    position: relative;
    top: 100px;
    color: rgb(30, 132, 216);
}
footer p{
    color: rgb(30, 132, 216);
    position: relative;
    top: 150px;
    
}